---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const sorted = posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<Layout>
  <h2>Blog</h2>

  <ul>
    {
      sorted.map((post) => (
        <li>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
